# Introduction

### Task at hand: 

### To predict the estimated time of arrival for Orders.

### Background information:

### Many logistics Businesses in Africa make use of applications to help with their logistics and day to day busniness and It has been mentioned that logistics in Sub-Saharan Africa plays a major role  in increasing the cost of manufactured goods by up to 320%! 

### With that being said, Sendy, a company based in Kenya, Nairobi  is hosting a competition to make use of data provided by them (historic data) and predict the time it will take for riders to deliver orders to their destination.

### This requires to build a machine learning model that will be trained with the data, and therefore be able to be used to predict future data, hence ‘time’, and therefore in a nutshell, predict an accurate delivery time “from picking up a package to arriving at the final destination” (Zindy web page: EDSA: Sendy Logistics Challenge by Explore Data Science Academy)

### The solution will help Sendy and their respective clients improve on many aspects such us logistics, customer service and profit.

#

# Data Preprocessing

## Importing Libraries

In [940]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

## Importing the Data

In [941]:
data_train = pd.read_csv('Train.csv')
data_test = pd.read_csv('Test.csv')
riders = pd.read_csv('Riders.csv')
sample = pd.read_csv('SampleSubmission.csv')
variable = pd.read_csv('VariableDefinitions.csv')

In [990]:
data_train.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Pickup - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:27:30 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,11:44:09 AM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,12:53:03 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,9:43:06 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:05:23 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214

In [991]:
data_test.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Pickup - Weekday (Mo = 1),Pickup - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id
0,Order_No_19248,User_Id_3355,Bike,3,Business,27,3,4:44:10 PM,27,3,...,3,5:06:47 PM,8,NaN,NaN,-1.333275,36.870815,-1.305249,36.822390,Rider_Id_192
1,Order_No_12736,User_Id_3647,Bike,3,Business,17,5,12:57:35 PM,17,5,...,5,1:25:37 PM,5,NaN,NaN,-1.272639,36.794723,-1.277007,36.823907,Rider_Id_868
2,Order_No_768,User_Id_2154,Bike,3,Business,27,4,11:08:14 AM,27,4,...,4,11:57:54 AM,5,22.8,NaN,-1.290894,36.822971,-1.276574,36.851365,Rider_Id_26
3,Order_No_15332,User_Id_2910,Bike,3,Business,17,1,1:51:35 PM,17,1,...,1,2:16:52 PM,5,24.5,NaN,-1.290503,36.809646,-1.303382,36.790658,Rider_Id_685
4,Order_No_21373,User_Id_1205,Bike,3,Business,11,2,11:30:28 AM,11,2,...,2,11:56:04 AM,6,24.4,NaN,-1.281081,36.814423,-1.266467,36.792161,Rider_Id_858

## Aligining the Data
### We align both the train and test data set to manipulate it on both data sets all at once

In [942]:
data_train = data_train[['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Distance (KM)', 'Temperature', 'Precipitation in millimeters',
       'Pickup Lat', 'Pickup Long', 'Destination Lat', 'Destination Long',
       'Rider Id', 'Time from Pickup to Arrival']]

# Concactenating Data Frames

In [943]:
df = pd.concat([data_train, data_test], sort = False)

In [944]:
df.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Pickup - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:27:30 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745.0
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,11:44:09 AM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993.0
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,12:53:03 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455.0
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,9:43:06 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341.0
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:05:23 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214.0

# Dropping irrelevent columns

In [945]:
df = df.drop(['Placement - Weekday (Mo = 1)','Confirmation - Day of Month','Confirmation - Weekday (Mo = 1)',
                 'Arrival at Pickup - Day of Month', 'Arrival at Pickup - Weekday (Mo = 1)',
              'Pickup - Day of Month','Pickup - Weekday (Mo = 1)'],
                 axis = 1)

# Join

## Joining the aligned DataFrame with Riders DataFrame

In [992]:
riders

         Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0    Rider_Id_396          2946  2298            14.0           1159
1    Rider_Id_479           360   951            13.5            176
2    Rider_Id_648          1746   821            14.3            466
3    Rider_Id_753           314   980            12.5             75
4    Rider_Id_335           536  1113            13.7            156
..            ...           ...   ...             ...            ...
955  Rider_Id_896           152    99            12.4             18
956  Rider_Id_149            69   101            10.2             10
957  Rider_Id_270           338    96            14.4             41
958  Rider_Id_201           159    96            15.0              9
959  Rider_Id_904           172   108            13.7             18

[960 rows x 5 columns]

In [946]:
df_temp = pd.merge(df, riders, how='left', on ='Rider Id')

In [947]:
df_temp.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Time,Confirmation - Time,Arrival at Pickup - Time,Pickup - Time,...,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival,No_Of_Orders,Age,Average_Rating,No_of_Ratings
0,Order_No_4211,User_Id_633,Bike,3,Business,9,9:35:46 AM,9:40:10 AM,10:04:47 AM,10:27:30 AM,...,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745.0,1637,1309,13.8,549
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,11:16:16 AM,11:23:21 AM,11:40:22 AM,11:44:09 AM,...,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993.0,396,339,13.6,69
2,Order_No_1899,User_Id_265,Bike,3,Business,30,12:39:25 PM,12:42:44 PM,12:49:34 PM,12:53:03 PM,...,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455.0,1023,242,12.5,114
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,9:25:34 AM,9:26:05 AM,9:37:56 AM,9:43:06 AM,...,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341.0,886,283,14.5,113
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,9:55:18 AM,9:56:18 AM,10:03:53 AM,10:05:23 AM,...,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214.0,2311,872,14.1,533

## Dropping unique columns

In [948]:
df_final = df_temp.drop(['User Id','Order No', 'Vehicle Type', 'Rider Id','Age'], axis = 1)

In [949]:
df_final.head()

,Platform Type,Personal or Business,Placement - Day of Month,Placement - Time,Confirmation - Time,Arrival at Pickup - Time,Pickup - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Time from Pickup to Arrival,No_Of_Orders,Average_Rating,No_of_Ratings
0,3,Business,9,9:35:46 AM,9:40:10 AM,10:04:47 AM,10:27:30 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,745.0,1637,13.8,549
1,3,Personal,12,11:16:16 AM,11:23:21 AM,11:40:22 AM,11:44:09 AM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,1993.0,396,13.6,69
2,3,Business,30,12:39:25 PM,12:42:44 PM,12:49:34 PM,12:53:03 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,455.0,1023,12.5,114
3,3,Business,15,9:25:34 AM,9:26:05 AM,9:37:56 AM,9:43:06 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,1341.0,886,14.5,113
4,1,Personal,13,9:55:18 AM,9:56:18 AM,10:03:53 AM,10:05:23 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,1214.0,2311,14.1,533

## To Numeric

### In this section I convert the time columns to numeric data types, this is due to the fact that we want our DataFrame to only consist of integers.
### I first change them from object data type to data-time data type, and then from date-time data type to integer data type. 

### This will also enable the model to try and find possible correlations between the other features and the time features.

In [950]:
#Placement - Time

df_final['Placement - Time'] = pd.to_datetime(df_final['Placement - Time'])
df_final['Placement - Time'] = pd.to_numeric(df_final['Placement - Time'])

#Confirmation  - Time

df_final['Confirmation - Time'] = pd.to_datetime(df_final['Confirmation - Time'])
df_final['Confirmation - Time'] = pd.to_numeric(df_final['Confirmation - Time'])

#Arrival at Pick up - Time

df_final['Arrival at Pickup - Time'] = pd.to_datetime(df_final['Arrival at Pickup - Time'])
df_final['Arrival at Pickup - Time'] = pd.to_numeric(df_final['Arrival at Pickup - Time'])

#Pick up - Time

df_final['Pickup - Time'] = pd.to_datetime(df_final['Pickup - Time'])
df_final['Pickup - Time'] = pd.to_numeric(df_final['Pickup - Time'])

## Removing uneccessary/not needed columns

### The 'Placement - time' column is being removed due it not being needed. Reason for that is because it is the time the order was placed, it is not much useful as we should only be working with features concerning the riders.

In [951]:
df_final = df_final.drop(['Placement - Time'], axis = 1)

In [952]:
df_final.head()

,Platform Type,Personal or Business,Placement - Day of Month,Confirmation - Time,Arrival at Pickup - Time,Pickup - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Time from Pickup to Arrival,No_Of_Orders,Average_Rating,No_of_Ratings
0,3,Business,9,1599471610000000000,1599473087000000000,1599474450000000000,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,745.0,1637,13.8,549
1,3,Personal,12,1599477801000000000,1599478822000000000,1599479049000000000,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,1993.0,396,13.6,69
2,3,Business,30,1599482564000000000,1599482974000000000,1599483183000000000,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,455.0,1023,12.5,114
3,3,Business,15,1599470765000000000,1599471476000000000,1599471786000000000,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,1341.0,886,14.5,113
4,1,Personal,13,1599472578000000000,1599473033000000000,1599473123000000000,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,1214.0,2311,14.1,533

## Encoding categorical data

In [953]:
df_final.dtypes

Platform Type                     int64
Personal or Business             object
Placement - Day of Month          int64
Confirmation - Time               int64
Arrival at Pickup - Time          int64
Pickup - Time                     int64
Distance (KM)                     int64
Temperature                     float64
Precipitation in millimeters    float64
Pickup Lat                      float64
Pickup Long                     float64
Destination Lat                 float64
Destination Long                float64
Time from Pickup to Arrival     float64
No_Of_Orders                      int64
Average_Rating                  float64
No_of_Ratings                     int64
dtype: object

In [954]:
df_final = pd.get_dummies(df_final)
df_final

,Platform Type,Placement - Day of Month,Confirmation - Time,Arrival at Pickup - Time,Pickup - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Time from Pickup to Arrival,No_Of_Orders,Average_Rating,No_of_Ratings,Personal or Business_Business,Personal or Business_Personal
0,3,9,1599471610000000000,1599473087000000000,1599474450000000000,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,745.0,1637,13.8,549,1,0
1,3,12,1599477801000000000,1599478822000000000,1599479049000000000,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,1993.0,396,13.6,69,0,1
2,3,30,1599482564000000000,1599482974000000000,1599483183000000000,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,455.0,1023,12.5,114,1,0
3,3,15,1599470765000000000,1599471476000000000,1599471786000000000,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,1341.0,886,14.5,113,1,0
4,1,13,1599472578000000000,1599473033000000000,1599473123000000000,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,1214.0,2311,14.1,533,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28264,3,7,1599475024000000000,1599475213000000000,1599475698000000000,5,24.8,NaN,-1.258414,36.804800,-1.288780,36.816831,NaN,1018,13.1,87,1,0
28265,3,10,1599490857000000000,1599491917000000000,1599492104000000000,22,30.7,NaN,-1.276141,36.771084,-1.316098,36.913164,NaN,6728,13.9,2027,1,0
28266,3,5,1599489936000000000,1599490815000000000,1599491272000000000,10,25.1,NaN,-1.301446,36.766138,-1.264960,36.798178,NaN,1601,13.7,441,1,0
28267,3,29,1599491985000000000,1599493247000000000,1599493595000000000,18,23.6,NaN,-1.248404,36.678276,-1.272027,36.817411,NaN,225,14.1,66,0,1
28268,3,4,1599493420000000000,1599494285000000000,1599494683000000000,8,22.3,NaN,-1.255189,36.782203,-1.300406,36.829741,NaN,847,14.0,108,1,0

## Seperating the Data

### In this step I seperate the data to get them to their original form of the Train data set and Test data set, I also split the data to create necessary x and y variables for validation of the train set.

In [955]:
# validation: x and y 
x = df_final[:len(data_train)].drop('Time from Pickup to Arrival', axis = 1).values
y = df_final[:len(data_train)][['Time from Pickup to Arrival']].values

# train set and test set. z = 'zindi'
x_train_z = df_final[:len(data_train)].drop('Time from Pickup to Arrival', axis = 1).values 
x_test_z = df_final[len(data_train):].drop('Time from Pickup to Arrival', axis = 1).values

## Taking care of null values

### I used the method of simple imputer to fill null values with the 'mean' of the column they appear in.

In [956]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [957]:
#imputing x
imputer.fit(x)
x = imputer.transform(x)

In [958]:
#imputing y
imputer.fit(y)
y = imputer.transform(y)

In [959]:
#imputing x_train
imputer.fit(x_train_z)
x_train_z = imputer.transform(x_train_z)

In [960]:
#imputing x_test
imputer.fit(x_test_z)
x_test_z = imputer.transform(x_test_z)

## Train, test split of the Train Data set 
#### Note: Validation on the data is performed

In [961]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.6, random_state = 0)

# Model evaluation 

## In this section I will be performing the modelling.

## Model selected:
### The selected model for this analysis is the "Random Forest Regression" model. 

### To support my reason of choice...at the bottom of this presentation, I do performance evaluation on three other regression models (Multiple Linear, Ridge and Lasso regression) that demonstrate brilliant performance to showcase that the Random Forest (with hyperparameter tuning) ultimately performed the best  out of all four.

### Therefore, from now on, I continue my analysis using the Random Forest model.

# ________

## Validation:  Training the random forest regression model with x_train and y_train with the chosen hyperparameter values.

### (Note: The Grid search that was performed to obtain the values has not been included in this report/analysis)

In [962]:
y_train = y_train.ravel()

In [963]:
from sklearn.ensemble import RandomForestRegressor
random = RandomForestRegressor(n_estimators = 400, max_depth= 80, min_samples_leaf=10, min_samples_split=10, random_state=0)
random.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=80, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=10,
                      min_samples_split=10, min_weight_fraction_leaf=0.0,
                      n_estimators=400, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

### Predicting the x_test and comparing it to the y_test

In [964]:
#predict
y_pred_random = random.predict(x_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[1654.1   992.  ]
 [1823.37 2400.  ]
 [1140.61 3486.  ]
 ...
 [1524.91 2309.  ]
 [2495.38 2026.  ]
 [1389.51 1933.  ]]

## Evaluating the model performance

### R Squared

In [965]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

r2_score(y_test, y_pred_random)

0.3838869243157138

### Mean Squared Error

In [966]:
MSE = mean_squared_error(y_test,y_pred_random)
print('Mean Sqaured error:',  MSE)

Mean Sqaured error: 606840.6969996429

### Root Mean Squared Error

In [967]:
RMSE = np.sqrt(MSE)
print('Root mean squared error:', RMSE)

Root mean squared error: 778.9998055196438

## Mean Absolute Error

In [968]:
MAE = mean_absolute_error(y_test,y_pred_random)
print('Mean absolute error:', MAE)

Mean absolute error: 535.2439718784043

# ________

# Evaluation of the whole Train data set
## I will now progress to training the Random Forest Regression model with the whole Train data set using the hyperparamater values obtained from the validation of the data. 

## With this model, I will then predict the values of the Test data set.

In [969]:
y_random = y.ravel()

## Training the Random forest regression model with the Train data set

In [970]:
random_2 = RandomForestRegressor(n_estimators = 400, max_depth= 80, min_samples_leaf=10, min_samples_split=10)
random_2.fit(x_train_z,y_random)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=80, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=10,
                      min_samples_split=10, min_weight_fraction_leaf=0.0,
                      n_estimators=400, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

## Predicting the Test data set

In [971]:
zindy_pred = random_2.predict(x_test_z)

## Placing the predicting values in a DataFrame

In [972]:
temp = pd.DataFrame(zindy_pred, columns =  ['Time from Pickup to Arrival'])
temp

      Time from Pickup to Arrival
0                     1761.303499
1                     1228.940364
2                     1177.770951
3                     1327.304651
4                     1018.002652
...                           ...
7063                  1927.374430
7064                  2956.331635
7065                  1382.797980
7066                  2615.798835
7067                  1863.726459

[7068 rows x 1 columns]

## Submission

In [973]:
output = pd.DataFrame({"Order No":data_test['Order No']})
submission = output.join(temp_2)
submission = submission.dropna()
submission.to_csv("submission_.csv", index = False)

#  Evaluation of other models

### Model perfomance

## Multiple Linear Regression

In [974]:
# training the Linear regression model

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [975]:
# predicting the result

y_pred_MLR = regressor.predict(x_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[1654.1   992.  ]
 [1823.37 2400.  ]
 [1140.61 3486.  ]
 ...
 [1524.91 2309.  ]
 [2495.38 2026.  ]
 [1389.51 1933.  ]]

In [976]:
print("R2;", r2_score(y_test, y_pred_MLR))

R2; 0.3717948379335708

In [977]:
RMSE_MLR = np.sqrt(mean_squared_error(y_test,y_pred_MLR))

In [978]:
print("RMSE:", RMSE_MLR)

RMSE: 786.6071445758879

## Ridge

In [979]:
# training the Ridge regression model


from sklearn.linear_model import Ridge
ridge = Ridge()
ridge.fit(x_train, y_train)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=4.66843e-31): result may not be accurate.
  overwrite_a=True).T

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [980]:
#predicting the result 

y_pred_ridge = ridge.predict(x_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[1654.1   992.  ]
 [1823.37 2400.  ]
 [1140.61 3486.  ]
 ...
 [1524.91 2309.  ]
 [2495.38 2026.  ]
 [1389.51 1933.  ]]

In [981]:
print("R2;", r2_score(y_test, y_pred_ridge))

R2; 0.3718649474217536

In [982]:
RMSE_ridge = np.sqrt(mean_squared_error(y_test,y_pred_ridge))

In [983]:
print("RMSE:", RMSE_ridge)

RMSE: 786.5632495504972

## Lasso

In [984]:
# training the Lasso regression model

from sklearn.linear_model import Lasso
lasso = Lasso()
lasso.fit(x_train, y_train)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2536921366.1731873, tolerance: 813375.5386220637
  positive)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [985]:
#predicting the result 

y_pred_lasso = lasso.predict(x_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[1654.1   992.  ]
 [1823.37 2400.  ]
 [1140.61 3486.  ]
 ...
 [1524.91 2309.  ]
 [2495.38 2026.  ]
 [1389.51 1933.  ]]

In [986]:
print("R2:", r2_score(y_test, y_pred_lasso))

R2: 0.37118204558208934

In [987]:
RMSE_lasso = np.sqrt(mean_squared_error(y_test,y_pred_lasso))

In [988]:
print("RMSE:", RMSE_lasso)

RMSE: 786.9907050574767

# Model Analysis

In [989]:
print("RMSE Random forest:", RMSE, "\nRMSE MLR:", RMSE_MLR, "\nRMSE Lasso:", RMSE_lasso, "\nRMSE Ridge:", RMSE_ridge)

RMSE Random forest: 778.9998055196438
RMSE MLR: 786.6071445758879
RMSE Lasso: 786.9907050574767
RMSE Ridge: 786.5632495504972

### Firstly, when comparing all four models using the Root mean square error metric, we can see that the Random Forest regression performs the best. It also slightly has a higher R2 out of all four models.

### When assessing the accuracy of our models, especially the chosen model, "Random Forest Regression". We can see good and not so good predictions, this may be due to overfitting of the data or not hyper paramter tuning the model to get it to perfom even better. 

### Zindy result:


### My Zindy result, however, stands at an RMSE score: 748.3043705. 
### This means that when my predicted depended variable is run against the true depended variable of the test set, the chosen Random forest regression model performs much better than expected.